{# templates/form/clokify-import.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

  <div class="d-flex justify-content-center">
    <div class="jumbotron">
      <h1 class="display-4">Clockify time importer</h1>
      <hr class="my-4">
      <p>
        {{ form(upload_form) }}
        {% if csv_errors is empty and total_records >= 1 and csv_is_validated %}
          {{ form(import_form) }}
        {% endif %}
      </p>

    </div>
  </div>

  <div class="alert-info mb-2">
    <p class="p-1">
      The required columns are: <strong class="bg-warning text-white p-1 d-inline-block">Day</strong>, <strong class="bg-warning text-white p-1 d-inline-block">Time</strong>, <strong class="bg-warning text-white  p-1 d-inline-block">Time Entry</strong>, <strong class="bg-warning text-white  p-1 d-inline-block">Project</strong>, <strong class="bg-warning text-white  p-1 d-inline-block">Task</strong>
    </p>
    <p class="p-1">
      Total time to be imported: <strong class="bg-success text-white p-1 d-inline-block">{{ total_time_to_import }}</strong>
    </p>
  </div>

  <h6>Total records in csv: <span class="badge badge-secondary">{{ total_records }}</span></h6>

  {% for csv_error in csv_errors %}
    <h6><span class="badge badge-pill badge-danger">{{ csv_error|raw }}</span></h6>
  {% endfor %}

  {% if csv_errors is empty and total_records >= 1 and csv_is_validated %}
    <h6><span class="badge badge-pill badge-success">The CSV could be imported</span></h6>
  {% endif %}

  {% if total_records >= 1 and csv_is_validated != true %}
    <h6><span class="badge badge-pill badge-warning">The CSV must be validated (re-upload it first)</span></h6>
  {% endif %}

  {% if import_errors is not empty %}
    <h6>Total imported: <span class="badge badge-pill badge-success">{{ import_errors.total_imported }}</span></h6>
    <h6>Total processed: <span class="badge badge-pill badge-success">{{ import_errors.total_rows_processed }}</span></h6>
    <h6>Total errors: <span class="badge badge-pill badge-warning">{{ import_errors.total_errors }}</span></h6>

    {% if import_errors.errors is not empty %}
      <div class="alert alert-danger" role="alert">
        {% for error in import_errors.errors %}
          <p>Error: {{ error }}</p>
        {% endfor %}
      </div>
    {% endif %}
  {% endif %}

  {{ table|raw }}

{% endblock %}
