<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
          {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
      <div class="container">
        {% block body %}{% endblock %}
      </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
